.info
	position relative
	display flex
	flex-direction column
	justify-content center
	align-items center
	padding 100px 180px
	
	background: #3695ff;
	// background: -moz-linear-gradient(45deg, #3695ff 0%, #3692ff 31%, #3674fd 100%);
	// background: -webkit-linear-gradient(45deg, #3695ff 0%,#3692ff 31%,#3674fd 100%);
	// background: linear-gradient(45deg, #3695ff 0%,#3692ff 31%,#3674fd 100%);
	// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3695ff', endColorstr='#3674fd',GradientType=1 );
	
	text-align center
	color white