.page
	margin 0
	padding 0
	
	height 100%
	background-color #ffffff
	background-image url("/assets/img/page/page__overlay.png"), -moz-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("/assets/img/page/page__bg.jpg")
	background-image url("/assets/img/page/page__overlay.png"), -webkit-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("/assets/img/page/page__bg.jpg")
	background-image url("/assets/img/page/page__overlay.png"), -ms-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("/assets/img/page/page__bg.jpg")
	background-image url("/assets/img/page/page__overlay.png"), linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("/assets/img/page/page__bg.jpg")
	background-repeat repeat, no-repeat, no-repeat
	background-size 100px 100px, cover, cover
	background-position top left, center center, bottom center
	background-attachment fixed, fixed, fixed
	
	text-transform uppercase
	font-weight 300
	letter-spacing 0.2em
	font-family 'Source Sans Pro', Helvetica, sans-serif
	color #414f57
	
	*
		box-sizing border-box
	
	@media screen and (max-width: 1680px)
		font-size 11pt
		
html
	height 100%