// Created by Artyom Kravchenko, 2015
doctype html
html
	head
		title Barbershop
		link(rel="stylesheet", href="css/common.css")
	body
		header.s-main-header
			div.layout-main-wrapper
				nav.header-menu
					ul.header-menu-list
						li.header-menu__item
							a.header-menu__link(href="") Главная
						li.header-menu__item
							a.header-menu__link(href="") Информация
						li.header-menu__item
							a.header-menu__link(href="") Новости
						li.header-menu__item
							a.header-menu__link(href="") Прайс-лист
						li.header-menu__item
							a.header-menu__link(href="") Магазин
						li.header-menu__item
							a.header-menu__link(href="") Контакты
				div.user-block
					a.user-block__log-in
		article.main-content
			div.layout-main-wrapper
				div.logo
				section.feature-block
					section.feature-block__item
						h3.feature-block-header Быстро
						p.feature-block-descripion.
							Мы делаем свою работу быстро! Два часа пролетят незаметно и вы — счастливый обладатель стильной стрижки-минутки!
					section.feature-block__item
						h3.feature-block-header Круто
						p.feature-block-descripion.
							Забудьте, как вы стриглись раньше. Мы сделаем из вас звезду футбола или кино!
					section.feature-block__item
						h3.feature-block-header Дорого
						p.feature-block-descripion.
							Наши мастера — профессионалы своего дела и не могут стоить дешево. К тому же, разве цена не дает определенный статус?
				section.s-center-block
					section.news-block
						h2.section-header Новости
						section.news-block__item
							p.news-block__item-text
							p.news-block__item-date
						section.news-block__item
							p.news-block__item-text
							p.news-block__item-date

