.content
	position relative
	padding 4.5em 3em 3em 3em
	
	transform rotateX(0deg)
	transform-origin 50% 50%
	transition opacity 1s ease, transform 1s ease

	min-width 27em
	max-width 100%
	border-radius 4px
	
	opacity 0.95
	background #fff
	
	text-align center