.page
html
	margin 0
	padding 0

.page
	padding-top 3.5em
	
	display flex


	line-height 1.75
	text-transform uppercase
	font-family 'Raleway', Helvetica, sans-serif
	font-weight 400

	background-color #f4f4f4
	
	@media screen and (max-width: 1680px)
		padding 6.5em 3em 3em 3em
		font-size 12pt