.header__menu-item
	display inline-block
	vertical-align top
	height 76px
	
	.menu-item__link
		padding 33px 18px 0 18px
		height 43px
		
		font-size 12px
		text-decoration none
		font-weight bold
		font-style italic
		color #FFF
		
		-moz-transition background-color 500ms ease-in
		-webkit-transition background-color 500ms ease-in
		-o-transition background-color 500ms ease-in
		transition background-color 500ms ease-in
		
		&:hover
			background-color #1c1d20