.popup__submit
	display inline-block
	width 100%
	padding 16px 0
	margin-top 27px
	border none
	outline none
	font 700 21px/26px 'PT Sans', Arial
	text-transform uppercase
	background-color: #81b3d2;
	color #FFF
	
	&:hover
		background-color #669ec0
		
	&:active
		background-color #5496bd
		color rgba(255, 255, 255, 0.3)