.social__link_site_facebook
	background-image url('/img/social/__link/_site/social__link_site_facebook.png')
	
	&:hover
		background-image url('/img/social/__link/_site/social__link_site_facebook_hover.png')