.social__link_site_linkedin
	background-image url('/img/social/__link/_site/social__link_site_linkedin.png')
	
	&:hover
		background-image url('/img/social/__link/_site/social__link_site_linkedin_hover.png')