.popup__input_min
	display inline-block

	.input__control
		display inline-block
		width 25px
		padding 4px
		min-height 26px
		text-align center
		
		font-size 14px
		line-height 26px
		vertical-align middle