.promo__sign-up
	margin 10px auto
	padding 3px
	
	display block
	width 50%
	border 2px solid #009cde
	border-radius 2px

	font-size 12px
	font-weight 700
	text-decoration none
	
	background-color blue
	background -webkit-linear-gradient(#80b2e0, #009CDE)
	background -moz-linear-gradient(#80b2e0, #009CDE)
	background linear-gradient(#80b2e0, #009CDE)
	color #FFF