.sidebar__menu-item
	color #FFF
	
	.menu-item__link
		padding-right 10px

		font-size 15px
		line-height 24px
		text-align right		
		text-decoration none
		font-style italic
		color inherit
		
		&:hover
			background-color #FFFF00
			color #000