.social__link_site_twitter
	background-image url('/img/ico/social/social__twitter.png')
		
	&:active
		background-image url('/img/ico/social/social__twitter_active.png')
		background-color #5496bd