.copyright__author
	display inline-block
	vertical-align top
	margin-right 10px
	
	width 27px
	height 30px
	
	background url('/img/ico/sprite.png') no-repeat top left
	background-position 0 -140px

	&:hover
		background-position -38px -140px

	&:active
		background-position 0 -140px
		opacity 0.3