.menu-item__link
	display block
	text-align center
	
	text-decoration none
	color #000
	outline none
	font-weight 700
	font-size 14px
	
	&:hover
		color #a8c9df
		
	&:active
		color rgba(129,179,210,1)