.page__content
	padding 4.5em 3em 4.5em 3em
	
	max-width 100%
	min-width 27em
	border-radius 5px
	
	transform-origin 50% 50%
	transform rotateX(0deg)
	background-color #fff
	opacity 0.95
	
	transition transform 1s ease, opacity 1s ease
	
	@media screen and (max-width: 480px)
		min-width 0
		width 100%
		padding 4em 2em 2.5em 2em