.checkbox {}

input[type="checkbox"] {

	position: absolute;
    left: -9999px;
	
	
}

input[type="checkbox"] + label{
	height: 27px;
	width: 27px;
	padding: 5px 0 0 30px;
	background: url(../../img/power_page/checbox.png) no-repeat;
	background-size:27px 60px;
	 background-position: 0 0px;
}

input[type="checkbox"]:checked + label {
    background-position: 0 -27px;
}


.area_button{

	width: 202px;
    height: 32px;
    background: url(../../img/power_page/button_grey.png) no-repeat;
    text-align: center;
    cursor: pointer;
    line-height: 31px;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.85);
	cursor: pointer;
	margin: 0 0 4px 0;
}
.area_button:hover, .area_button_select{
	color: #231f20;
	text-shadow: none;
	background-position:  0px -32px;

}

.text_left{
	text-align: left;
	padding-left: 1%;
}
.text_center{
	text-align: center;
}

/* --- TABLE BORDER --- */
.table_polit_1{
	width: calc(100% + 14px);

	margin: -7px 0 -7px -7px;
}

.table_border_left, .table_border_right,  .table_border_left_2{
	width: 7px;
	height: 265px;

	
	 
}
.table_border_left, .table_border_left_2{
	background: url(../../img/power_page/table_border_left.png) repeat;
	z-index:1000;
}
.table_border_right{
	background: url(../../img/power_page/table_border_right.png) repeat;
}
.table_border_top, .table_border_button{
	
	 width: 100%;
	
	height: 7px;
	
}
.table_border_top{
	background: url(../../img/power_page/table_border_top.png) repeat;
}
.table_border_button{
	width: 100%;
	background: url(../../img/power_page/table_border_buttom.png) repeat;
	
}
.table_border_left_top{
	width: 15px;
	height: 15px;
	background: url(../../img/power_page/table_border_top_left.png) no-repeat;	
}
.table_border_left_button{
	width: 15px;
	height: 15px;
	background: url(../../img/power_page/table_border_bottom_left.png) no-repeat;	
}
.tabel_bg_top_right{
	width: 15px;
	height: 15px;
	background: url(../../img/power_page/table_border_top_right.png) no-repeat;
}
.tabel_bg_button_right{
	
	width: 15px;
	height: 15px;
	background: url(../../img/power_page/table_border_bottom_right.png) no-repeat;
}
.table_border_top_perexod, .table_border_buttom_perexod, .table_border_top_perexod_2{
	width: 14px;
	height: 9px;
	position: absolute;
	
}

.table_border_top_perexod, .table_border_top_perexod_2{

	background: url(../../img/power_page/table_border_top_perexod.png) no-repeat;
}
.table_border_buttom_perexod{
		background: url(../../img/power_page/table_border_buttom_perexod.png) no-repeat;
}

/* --- TABLE POLIT --- */

.contener_table_polit{
	width: 100%;
	height: 260px;
	
}
.ico_polit_0, .ico_polit_1, .ico_polit_2, .ico_polit_3, .ico_polit_4, .ico_polit_5, .ico_polit_6, .ico_polit_7, .ico_polit_8, .ico_polit_9, .ico_polit_10, .ico_polit_11, .ico_polit_12, .ico_polit_13, .ico_polit_14, .ico_polit_15{
	width: 36px;
	height: 36px;
	background: url(../../img/power_page/ico_table_1.png) no-repeat;
	

}
.ico_polit_0{
	width: 1px;
	
}
.ico_polit_1{
	background-position:  0px -3px ;
}

.ico_polit_2{
	background-position:  -36px -3px ;
}

.ico_polit_3{
	background-position:  -71px -2px ;
}
.ico_polit_4{
	background-position:  -105px -2px ;
}
.ico_polit_5{
	background-position:  -175px -4px ;
}
.ico_polit_6{
	width:32px;
	background-position:  -207px -4px ;
}
.ico_polit_7{
	width:45px;
	background-position:  -237px -4px ;
}
.ico_polit_8{
	background-position:  -283px -4px ;
}
.ico_polit_9{
	background-position:  -321px -4px ;
}
.ico_polit_10{
	width:45px;
	background-position:  -358px -4px ;
}
.ico_polit_11{
	width:45px;
	background-position:  -406px -4px ;
}
.ico_polit_12{
	margin-top: 19px ;
	width: 44px;
	height: 44px;
	background-position:  -449px 0px ;
	cursor: pointer;
	position: absolute;
	left: 10px;
}
.ico_polit_13{
	width:32px;
	background-position:  -498px -4px ;
}
.ico_polit_14{
	width:32px;
	background-position:  -530px -4px ;
}
.ico_polit_15{
	width:32px;
	background-position:  -560px -4px ;
}

.bg_tb{
	background: transparent url("../../img/power_page/bg_2.png") repeat scroll 0% 0%;
}
.bg_tb_select{
	background: transparent url("../../img/power_page/bg_table.png") repeat scroll 0% 0%;


}
.table_polit{
	/* border-collapse: collapse; */
    border-spacing: 0 8px ;
    
	width: 99%;
	margin-right: 1%;
	text-align: center;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.85);
}
.table_polit td{

}
.color_9797b9{
	color: #9797b9;

}
.color_baad94{
	color: #baad94;
}
.color_222{
	color: #222;
}