.header__section_bg_blue
	background -moz-linear-gradient(45deg, #3695ff 0%, #3692ff 31%, #3674fd 100%)
	background -webkit-linear-gradient(45deg, #3695ff 0%,#3692ff 31%,#3674fd 100%)
	background linear-gradient(45deg, #3695ff 0%,#3692ff 31%,#3674fd 100%)