.copyright__client
	display inline-block
	vertical-align top
	width 27px
	height 32px
	
	background url('/img/ico/sprite.png') no-repeat top left
	background-position 0 -108px

	&:hover
		background-position -38px -108px

	&:active
		background-position 0 -108px
		opacity 0.3