.footer__menu-item
	display inline-block
	vertical-align top
	
	.menu-item__link
		text-decoration none
		text-transform uppercase
		font-size 12px
		line-height 20px
		font-weight bold
		padding 0 14px
		color #FFF200
		
		&:hover
			text-decoration underline