// begin features-block 
section.features-block
	section.features-block__item
		h3.features-block__header Быстро
		p.features-block__descripion.
			Мы делаем свою работу быстро! Два часа пролетят незаметно и вы — счастливый обладатель стильной стрижки-минутки!
	section.features-block__item
		h3.features-block__header Круто
		p.features-block__descripion.
			Забудьте, как вы стриглись раньше. Мы сделаем из вас звезду футбола или кино! <br>
			Во всяком случае внешне.
	section.features-block__item
		h3.features-block__header Дорого
		p.features-block__descripion.
			Наши мастера — профессионалы своего дела и не могут стоить дешево. К тому же, разве цена не дает определенный статус?
// end features-block 