// Created by Artyom Kravchenko (Oopscurity), 2015
doctype html
html(lang="ru")
	head
		block meta
			meta(charset="utf-8")

		block title
			title Default title

		block styles
			link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:700&subset=cyrillic,latin")
			link(rel="stylesheet", href="css/reset.css")
			link(rel="stylesheet", href="css/common.css")

	body
		block main-header

		block main-content

		block main-footer
			