// begin slide-block 
section.slide-block.s-center-block_right
	h2.section-header Фотогалерея
	figure.slide-block__img-wrap
		img.slide-block__img(src="img/img-slider.jpg", width="286", height="164")
	button.g-btn.slide-block__btn.slide-block__btn_prev(disabled) Назад
	button.g-btn.slide-block__btn.slide-block__btn_next Вперед
// end slide-block 