// begin social
section.social
	p.social__call
		| Давайте дружить!
	a.social__item.social__item_vk(href="")
	a.social__item.social__item_fb(href="")
	a.social__item.social__item_inst(href="")
// end social