.follow__title
	margin 0 0 19px
	padding-bottom 25px
	border-bottom 1px solid #464646
	
	text-transform capitalize
	font-size 16px
	font-style italic
	font-weight normal
	font-variant normal
	color #f3f200