.header__link_type_bar
	padding 11px 20px
	color #cccccc
	
	&:hover
		background -webkit-radial-gradient(#656569, #4d4d4f)
		background -o-radial-gradient(#656569, #4d4d4f)
		background -moz-radial-gradient(#656569, #4d4d4f)
		background radial-gradient(#656569, #4d4d4f)