.header__link_type_main
	position relative
	
	padding 8px 25px
	border-left 2px solid #e8e8e8

	color #656569
	
	&::before
		position absolute
		top 0
		left 0

		width 2px
		height 100%
		background-color #FFF
		
		content ''