headerLayoutWidth = 60%
mainContentLayoutWidth = 60%
mainFooterLayoutWidth = 60%

.s-main-header
	border none
	
.s-main-header_radius
	border-radius 0

.lay-main-header
	margin 0 auto
	width headerLayoutWidth
	

.main-header__h
	font-size 2.5em
	text-align center

.lay-main-content
	margin 0 auto
	width mainContentLayoutWidth
	
.about
	text-align center
	font-size 1.5em

.about__note
	font-style italic
	font-size 0.8em
	color grey

.website-catalog__list
	margin 0
	padding 0
	list-style none
	
	font-size 0
	
.website-catalog__item
	padding 0.5em
	display inline-block
	vertical-align top
	width 30%
	height 475px
	
	font-size small
	border 1px solid grey
	background-color #D8D8D8 

.website-catalog__item:hover
	background-color #C0C0C0
	
.website-catalog__item:active
	background-color #A8A8A8 

.website-catalog__link
	display block
	height 100%

	text-align center
	color black
	
	font-family "Inconsolata"
	font-size 1.5em
	text-decoration none
	
.website-catalog__img
	margin-top 0.5em
	
.s-main-footer
	border none
	
	text-align center
	
.s-main-footer_radius
	border-radius 0 0 10px 10px

.lay-main-footer
	margin 0 auto
	width mainFooterLayoutWidth
	
.copy__author-link
	color black