.info__avatar
	position relative
	display block
	margin-bottom 1.5em
	
	&:before
		content ''
		display block
		position absolute
		top 50%
		left -3em
		z-index -1
		
		width calc(100% + 6em)
		height 1px
		
		background #c8cccf