.popup__input
	.input__control
		display inline-block
		border 2px solid #f2f2f2
		outline none
		font 700 14px/26px 'PT Sans', Arial
		background-color #f2f2f2
		
		&::-webkit-input-placeholder
			text-transform uppercase
			color black
			opacity 1
		&::-moz-placeholder
			text-transform uppercase
			color black
			opacity 1
		&:-moz-placeholder
			text-transform uppercase
			color black
			opacity 1
		&:-ms-input-placeholder
			text-transform uppercase
			color black
			opacity 1

		&:hover
			border-color #ebebeb
			background-color #ebebeb
			
		&:focus
			border-color: #e5e5e5
			background-color: #fff