.button
	width auto
	background #0090bf
	border 1px solid #1e728c
	color #fff
	cursor pointer
	display inline-block
	zoom 1
	margin 0
	outline none
	padding 10px 20px 11px
	position relative
	text-align center
	text-decoration none
	-webkit-box-shadow 0 1px rgba(255, 255, 255, 0.5) inset
	-moz-box-shadow 0 1px rgba(255, 255, 255, 0.5) inset
	-o-box-shadow 0 1px rgba(255, 255, 255, 0.5) inset
	box-shadow 0 1px rgba(255, 255, 255, 0.5) inset
	-webkit-transition background-color 0.15s ease-in-out
	-moz-transition background-color 0.15s ease-in-out
	-o-transition background-color 0.15s ease-in-out
	transition background-color 0.15s ease-in-out
	
.button:hover
	background-color #0086b2