body
	font-family "PT Sans Narrow", sans-serif
	font-size 14px
	background black url("../img/background.jpg") no-repeat
	
// begin s-main-header
.s-m-header
	color white
	background-color black

.s-m-header:after
	display block
	clear both
	content ""
	
.lay-m-header
	margin 0 auto
	width 50%

.m-header-menu
	float left

.m-header-menu__list
	
.m-header-menu__item
	display inline-block
	padding 20px 5px
	height 70px

.m-header-menu__link
	display block
	width 100%
	height 100%
	color white
	text-decoration none
	
.m-header-menu__link::after
	
.user-block
	float right
// end s-main-header

// begin s-main-content
.s-m-content
	background-color #fefbf8

.lay-m-content
	margin 0 auto
	width 50%
// end s-main-content

// begin s-main-footer
.s-m-footer
	background-color #202020

.lay-m-footer
	margin 0 auto
	width 50%
// end s-main-footer